:host nb-card {
  margin: 0;
  height: calc(100vh - 2 * 2.5rem);
}
:host .navigation .link {
  text-decoration: none;
}
:host .navigation .link .icon {
  font-size: 2rem;
}
:host nb-card-body {
  display: flex;
  width: 100%;
}
:host nb-auth-block {
  margin: auto;
}
@media (max-width: 767.98px) {
  :host nb-card {
    border-radius: 0;
  }
}
@media (max-width: 450px) {
  .title {
    margin-bottom: 1rem;
  }
  h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
}
:host
  ::ng-deep
  nb-layout
  .layout
  .layout-container
  .content
  .columns
  nb-layout-column {
  padding: 1rem;
}
@media (max-width: 767.98px) {
  :host nb-layout .layout .layout-container .content .columns nb-layout-column {
    padding: 0;
  }
}
.auth-block {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 35rem;
}
.link {
  cursor: pointer;
}
