<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">Trading-<span>Master</span></a>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action class="control-item">
      <ng-container>
        <button nbButton status="primary" outline *ngIf="$account| async as account; else showButtonConnect" class="btn-address">
          <img class="icon-ethereum" src="assets/icons/ethereum-eth.svg" alt="" />
          <span class="amount">{{ ($balance | async | balance) }}</span>
          <span class="address">
            {{ account | formatAddress }}
          </span>
        </button>
        <ng-template #showButtonConnect>
          <button (click)="connectWallet()" nbButton status="primary" class="btn-connect-wallet">
            <img class="icon-metamask" src="assets/icons/metamask.svg" alt="" />
            <span>Connect Wallet</span>
          </button>
        </ng-template>
      </ng-container>
    </nb-action>
    <nb-action class="user-action">
      <nb-user *ngIf="$user | async as user" [nbContextMenu]="userMenu" nbContextMenuTrigger="hover"
        [name]="user?.email?.split('@').shift() || 'Name default'" picture>
      </nb-user>
    </nb-action>
  </nb-actions>
</div>