<nb-card class="card-bettor">
  <nb-card-header>
    <ul>
      <li>Coin</li>
      <li>User</li>
      <li class="text-right">Type/Amount</li>
      <li class="text-right">Time</li>
    </ul>
  </nb-card-header>
  <nb-card-body>
    <nb-list>
      <nb-list-item class="item" *ngFor="let bettor of bettors">
        <span>BTC/USDT</span>
        <span> {{ bettor.username }}</span>
        <span
          class="delta"
          [class.up]="betType.BUY === bettor.betType"
          [class.down]="betType.SELL === bettor.betType"
        >
          <nb-icon
            [icon]="betType.BUY ? 'arrow-up' : 'arrow-down'"
            pack="eva"
          ></nb-icon>
          {{ bettor?.amount || 0 }}
        </span>
        <span class="text-right"> 539</span>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>
