<div>
  <div>
    <p>
      checkout token <a target="_blank"
        href="https://rinkeby.etherscan.io/token/0xe8c159b1ccdbea06a9e829d7955f84223ae02282">0xe8c159b1ccdbea06a9e829d7955f84223ae02282</a>
    </p>
    <app-address-button [account]="$account | async " (requestConnect)="connectWallet()"
      (changeAccount)="changeAccountMetaMask()"></app-address-button>

    <div class="row">
      <div class="col">
        <button *ngIf="$account | async" class="btn btn-info" (click)="getFreeToken()">Get 0.01HHD free
          now</button>
      </div>
    </div>

  </div>
  <div *ngIf="isLoading">
    waiting a few minutes...
  </div>
</div>