<div>
  <div *ngIf="collects | async as nft" class="row">
    <div>
      <div *ngFor="let item of nft;index as i" class="col-4">
        <h5>{{item.name}} <span class="badge badge-danger">New</span></h5>
        <img [src]="item.image" class="img-thumbnail" (click)="openReviewSprite(item)" style="cursor: pointer;"
          title="review nft" />
        <div>
          <li>
            pump::{{item.attrs.pump}}
          </li>
          <li>
            level::{{item.attrs.level}}
          </li>
        </div>
      </div>
    </div>
  </div>
  <!-- <ng-template #game>
    <app-mario-game></app-mario-game>
  </ng-template> -->
</div>