@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  .input-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    input {
      height: 50px;
      border: 1px solid #8f9bb3;
      border-left: none;
      border-right: none;
      text-align: center;
      font-size: 25px;
      font-weight: 500;
      border-radius: 0;
      flex: 1;
    }
  }
  .button-group {
    button {
      border-radius: 0;
      height: 50px;
      font-size: 20px;
      font-weight: 600;
      flex: 1;
      outline: none;
      box-shadow: none;
    }
  }

  .button-action {
    width: 150px;
    height: 65px;
    font-size: 28px;
    nb-icon {
      width: 40px;
      height: 40px;
    }
    border-radius: 0;
  }
  .action-bet {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .time {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: nb-theme(text-success-active-color);
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    cursor: default;
    user-select: none;
  }
  .disabled {
    background: nb-theme(color-danger-default);
    color: #fff;
    cursor: wait;
  }
}
