<div class="container">
    <div class="row">
        <div *ngIf="profile && profile.wallet; else conect_wallet" class="col-12">
            <div class="row">
                <div class="col-6">
                    Balance
                </div>
                <div class="col-6">
                    {{profile.wallet?.balance}}
                </div>
                <div class="col-6">
                    Addresss
                </div>
                <div class="col-6">
                    {{profile.wallet?.address}}
                </div>
            </div>
        </div>
        <ng-template #conect_wallet>
            <div>
                <button (click)="createWallet()">Connect Metamask</button>
            </div>
        </ng-template>
        <div class="col-12">
            xxxx
        </div>
    </div>
</div>